

<div class="content-area">
    <div class="animated-sections">

        <section data-id="about-me" class="animated-section">
            <div class="section-content">

                @*<div class="white-space-70"></div>*@

                <div class="page-title">
                    <h2>Haqqımda</h2>
                    @*<h4>Mənə yazın</h4>*@
                </div>
                <!--About Me Text-->
                @*<div class="white-space-50"></div>*@

                <div class="row flex-v-align">
                    <div class="col-sm-12">
                        <div class="home-text hp-left">

                            <div class="owl-carousel text-rotation">
                                @* <div class="item">
                                <h4>Web Designer</h4>
                                </div>*@
                                @*   <div class="item">
                                <h4>Backend developer</h4>
                                </div>*@
                            </div>

                            @*<h1>Ziya Mammadov</h1>*@
                            <p>
                                1998-ci ildə Naxçıvan MR-də anadan olmuşam. Bakı şəhəri 218 saylı tam orta məktəbi oxuduğum müddət
                                ərzindən Azərbaycan milli musiqi alətlərindən tarla məşğul olmuşam. Orta məktəbi bitirdikdən sonra 2015-2019-cu illər
                                ərzində Azərbaycan Texniki Universitetinin Komputer elmləri fakultəsində bakalavr təhsilimi almışam. 2019-2020-ci illərdə
                                Azərbaycan Respublikası Daxili İşlər Nazirliyini Daxili Qoşunlarında həqiqi hərbi xidmətdə olmuşam. Bundan sonrakı müddət
                                boyunca proqramlaşdırma sahəsi üzrə təhsilimi davam etdirmişəm. Hal-hazırda backend developer olaraq fəaliyyət göstərirəm.
                            </p>
                            <div class="home-buttons">
                                @*<a href="https://themeforest.net/item/leven-vcard-wordpress-theme/25289671" target="_blank" class="btn btn-primary">Download CV</a>*@
                                @*<a href="https://lmpixels.com/wp/leven-wp/contact/" target="_self" class="btn btn-secondary">Contact</a>*@
                            </div>
                        </div>
                    </div>

                    @*<div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="home-photo">
                    <div class="hp-inner" style="background-image: url(img/main_photo_1.jpg);"></div>
                    </div>
                    </div>*@
                </div>


                @*<div class="white-space-50"></div>*@
                @*<div class="white-space-50"></div>*@


                <!-- Facts -->
                <!--<div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="fun-fact gray-default">
                @*<i class="lnr lnr-heart"></i>*@
                            <h4>Happy Clients</h4>
                            <span class="fun-fact-block-value">578</span>
                            <span class="fun-fact-block-text"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4">
                        <div class="fun-fact gray-default">
                @*<i class="lnr lnr-clock"></i>*@
                            <h4>Working Hours</h4>
                            <span class="fun-fact-block-value">4,780</span>
                            <span class="fun-fact-block-text"></span>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 ">
                        <div class="fun-fact gray-default">
                @*<i class="lnr lnr-star"></i>*@
                            <h4>Awards Won</h4>
                            <span class="fun-fact-block-value">15</span>
                            <span class="fun-fact-block-text"></span>
                        </div>
                    </div>
                </div>-->
                <!-- End of Facts -->
                <!-- Services -->
                <!-- <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="block-title">
                            <h3>What I Do</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="col-inner">
                            <div class="info-list-w-icon">
                                <div class="info-block-w-icon">
                                    <div class="ci-icon">
                                        <i class="lnr lnr-store"></i>
                                    </div>
                                    <div class="ci-text">
                                        <h4>Ecommerce</h4>
                                        <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                                    </div>
                                </div>
                                <div class="info-block-w-icon">
                                    <div class="ci-icon">
                                        <i class="lnr lnr-laptop-phone"></i>
                                    </div><div class="ci-text">
                                        <h4>Web Design</h4>
                                        <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="col-inner">
                            <div class="info-list-w-icon">
                                <div class="info-block-w-icon">
                                    <div class="ci-icon">
                                        <i class="lnr lnr-pencil"></i>
                                    </div>
                                    <div class="ci-text">
                                        <h4>Copywriting</h4>
                                        <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                                    </div>
                                </div>
                                <div class="info-block-w-icon">
                                    <div class="ci-icon">
                                        <i class="lnr lnr-flag"></i>
                                    </div><div class="ci-text">
                                        <h4>Management</h4>
                                        <p>Pellentesque pellentesque, ipsum sit amet auctor accumsan, odio tortor bibendum massa, sit amet ultricies ex lectus scelerisque nibh. Ut non sodales.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- End of Services -->
                @*<div class="white-space-30"></div>*@
                @*<div class="white-space-70"></div>*@

                <!-- Testimonials -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="block-title">
                            <h3>Referanslar</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="testimonials owl-carousel">
                            <!-- Testimonial 1 -->
                            <div class="testimonial">
                                <div class="img">
                                    <img src="~/img/testimonials/testimonial-1.jpeg" alt="Alex Smith">
                                </div>
                                <div class="text">
                                    <p style="font-size:12px;">
                                        Hello. I have known Ziya 2021, when he studied Programming at our center.
                                        He proved to be a motivated and capable student with all the qualities required to pursue further studies
                                        at your institution. Ziya presented rigorous intellect during his studies.
                                        In addition to this, his studies required a firm grasp of many skills and aspects - such as CSharp Data Structure,
                                        Front-End and Asp.Net Core Back End, as well as user research, Library and Framework system
                                        skills - that are essential for the successful completion of the program. He proved to be adept and ambitious,
                                        and I expect him to continue to excel at your company.
                                        @*     I am happy to encourage and assist him in pursuit of his goals as he has been an outstanding student at our center.
                                        In conclusion, Ziya is a highly accomplished student with a strong academic background to successfully overcome
                                        challenges he may face through his work at your company. As such, I am confident that he will make an excellent
                                        addition to your company, and I highly recommend his acceptance to your company's.*@
                                    </p>
                                </div>

                                <div class="author-info">
                                    <h4 class="author">Həmid Məmmədov</h4>
                                    <h5 class="company">.Net Developer</h5>
                                    <div class="icon">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Testimonial 1 -->
                            <!-- Testimonial 2 -->
                            <div class="testimonial">
                                <div class="img">
                                    <img src="~/img/testimonials/testimonial-2.jpeg" alt="Alex Smith">
                                </div>
                                <div class="text">
                                    <p style="font-size:12px;">
                                        It was a pleasure for me to be Ziya's teacher. Ziya was one of the students who stood out with his problem-solving and
                                        research skills. He showed an above-average success in his final project.
                                    </p>
                                </div>

                                <div class="author-info">
                                    <h4 class="author">Elçin Ağayev</h4>
                                    <h5 class="company">Backend Developer</h5>
                                    <div class="icon">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Testimonial 2 -->



                        </div>
                    </div>
                </div>
                <!-- End of Testimonials -->
                @*<div class="white-space-70"></div>*@

                <!-- Clients -->
                <!--<div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="block-title">
                            <h3>Cilents</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="clients owl-carousel">

                            <div class="client-block">
                                <a href="#" target="_blank" title="Logo">
                                    <img src="~/img/clients/client-1.png" alt="Logo">
                                </a>
                            </div>

                            <div class="client-block">
                                <a href="#" target="_blank" title="Logo">
                                    <img src="~/img/clients/client-2.png" alt="Logo">
                                </a>
                            </div>

                            <div class="client-block">
                                <a href="#" target="_blank" title="Logo">
                                    <img src="~/img/clients/client-3.png" alt="Logo">
                                </a>
                            </div>

                            <div class="client-block">
                                <a href="#" target="_blank" title="Logo">
                                    <img src="~/img/clients/client-4.png" alt="Logo">
                                </a>
                            </div>

                            <div class="client-block">
                                <a href="#" target="_blank" title="Logo">
                                    <img src="~/img/clients/client-5.png" alt="Logo">
                                </a>
                            </div>

                            <div class="client-block">
                                <a href="#" target="_blank" title="Logo">
                                    <img src="~/img/clients/client-6.png" alt="Logo">
                                </a>
                            </div>

                            <div class="client-block">
                                <a href="#" target="_blank" title="Logo">
                                    <img src="~/img/clients/client-7.png" alt="Logo">
                                </a>
                            </div>

                        </div>
                    </div>
                </div>-->
                <!-- End of Clients -->
                @*<div class="white-space-70"></div>*@

                <!-- Pricing -->
                <!--<div class="row">
                    <div class="col-xs-12 col-sm-12">

                        <div class="block-title">
                            <h3>Pricing</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class=" col-xs-12 col-sm-12 ">
                        <div class="fw-pricing clearfix row">

                            <div class="fw-package-wrap col-md-4 ">
                                <div class="fw-package">
                                    <div class="fw-heading-row">
                                        <span>Silver</span>
                                    </div>

                                    <div class="fw-pricing-row">
                                        <span>$64</span>
                                        <small>per month</small>
                                    </div>

                                    <div class="fw-button-row">
                                        <a href="#" target="_self" class="btn btn-secondary">Free Trial</a>
                                    </div>

                                    <div class="fw-default-row">Lorem ipsum dolor</div>
                                    <div class="fw-default-row">Pellentesque scelerisque</div>
                                    <div class="fw-default-row">Morbi eu sagittis</div>
                                </div>
                            </div>

                            <div class="fw-package-wrap col-md-4 highlight-col">
                                <div class="fw-package">
                                    <div class="fw-heading-row">
                                        <span>Gold</span>
                                    </div>

                                    <div class="fw-pricing-row">
                                        <span>$128</span>
                                        <small>per month</small>
                                    </div>

                                    <div class="fw-button-row">
                                        <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                                    </div>

                                    <div class="fw-default-row">Lorem ipsum dolor</div>
                                    <div class="fw-default-row">Pellentesque scelerisque</div>
                                    <div class="fw-default-row">Morbi eu sagittis</div>
                                    <div class="fw-default-row">Donec non diam</div>
                                    <div class="fw-default-row"></div>
                                </div>
                            </div>

                            <div class="fw-package-wrap col-md-4">
                                <div class="fw-package">
                                    <div class="fw-heading-row">
                                        <span>Platinum</span>
                                    </div>

                                    <div class="fw-pricing-row">
                                        <span>$256</span>
                                        <small>per month</small>
                                    </div>

                                    <div class="fw-button-row">
                                        <a href="#" target="_self" class="btn btn-secondary">Free Trial</a>
                                    </div>

                                    <div class="fw-default-row">Lorem ipsum dolor</div>
                                    <div class="fw-default-row">Pellentesque scelerisque</div>
                                    <div class="fw-default-row">Morbi eu sagittis</div>
                                    <div class="fw-default-row">Donec non diam</div>
                                    <div class="fw-default-row">Fusce tempor magna</div>
                                    <div class="fw-default-row"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>-->
                <!-- End of Pricing -->

            </div>
        </section>

    </div>
</div>