

<div class="content-area">
    <div class="animated-sections">

        <section data-id="portfolio" class="animated-section">
            <div class="section-content">
                <div class="page-title">
                    <h2>Portfolio</h2>
                    <h4></h4>
                </div>


                <div class="row">
                    <div class="col-xs-12 col-sm-12">

                        <div class="blog-masonry two-columns clearfix">
                            <!-- Project 1 -->
                            <div class="item post-1 category_all category_design">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <div class="category">
                                            <a href="#" title="View all posts in Design"></a>
                                        </div>
                                        <a href="/project/alloggio">
                                            <img src="~/img/portfolio/alloggio/alloggio.jpg" class="size-blog-masonry-image-two-c" alt="Why I Switched to Sketch For UI Design" title="" />
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="post-date">2022</div>
                                        <a href="/project/alloggio">
                                            <h4 class="blog-item-title">Alloggio - Otel rezervasiyası</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Project 1 -->
                            <!-- Project 2 -->
                            <div class="item post-1 category_all category_design">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <div class="category">
                                            <a href="#" title="View all posts in Design"></a>
                                        </div>
                                        <a href="/project/cabinet">
                                            <img src="~/img/portfolio/cabinet/cabinet.jpg" class="size-blog-masonry-image-two-c" alt="Why I Switched to Sketch For UI Design" title="" />
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="post-date">2022 - 2023</div>
                                        <a href="/project/cabinet">
                                            <h4 class="blog-item-title">Şəxsi kabinet</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Project 1 -->
                        </div>

                        <div class="blog-masonry two-columns clearfix">

                            <!-- Project 3 -->
                            <div class="item post-1 category_all category_design">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <div class="category">
                                            <a href="#" title="View all posts in Design"></a>
                                        </div>
                                        <a href="/project/kbc">
                                            <img src="~/img/portfolio/kbc/kbc.jpg" class="size-blog-masonry-image-two-c" alt="Why I Switched to Sketch For UI Design" title="" />
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="post-date">2022</div>
                                        <a href="/project/kbc">
                                            <h4 class="blog-item-title">Knockout boks klubu</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Project 3 -->
                            <!-- Project 4 -->
                            <div class="item post-1 category_all category_design">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <div class="category">
                                            <a href="#" title="View all posts in Design"></a>
                                        </div>
                                        <a href="/project/judge">
                                            <img src="~/img/portfolio/judge/main.jpg" class="size-blog-masonry-image-two-c" alt="Why I Switched to Sketch For UI Design" title="" />
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="post-date">2023</div>
                                        <a href="/project/judge">
                                            <h4 class="blog-item-title">Azərbaycan hakimlər ittifaqı</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Project 4 -->
                        </div>

                        <div class="blog-masonry two-columns clearfix">

                            <!-- Project 5 -->
                            <div class="item post-1 category_all category_design">
                                <div class="blog-card">
                                    <div class="media-block">
                                        <div class="category">
                                            <a href="#" title="View all posts in Design"></a>
                                        </div>
                                        <a href="blog-post-1.html">
                                            <img src="~/img/portfolio/nazim1001.jpg" class="size-blog-masonry-image-two-c" alt="Why I Switched to Sketch For UI Design" title="" />
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <div class="post-info">
                                        <div class="post-date">2023</div>
                                        <a href="project-nazim1001.html">
                                            <h4 class="blog-item-title">Nazim1001 avto ehtiyat hissələr</h4>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Project 5 -->
                        </div>
                    </div>
                </div>
            </div>


        </section>

    </div>
</div>

