
<div class="content-area">
    <div class="animated-sections">

        <section data-id="resume" class="animated-section">
            <div class="section-content">
                <div class="page-title">
                    <h2>Bilik və bacarıqlar</h2>
                    @*<h4>11 Years of Experience</h4>*@
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-7">

                        <!--Tehsil baslangic-->
                        <div class="block-title">
                            <h3>Təhsil</h3>
                        </div>

                        <div class="timeline timeline-second-style clearfix">

                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2021-2022</h5>
                                    <span class="item-company">Code Academy</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Fullstack development</h4>
                                    <p>Proqramlaşdırma kursu</p>
                                </div>
                            </div>

                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2015-2019</h5>
                                    <span class="item-company">Azərbaycan Texniki Universiteti</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Komputer elmləri</h4>
                                    <p>Bakalavr dərəcəsi</p>
                                </div>
                            </div>

                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2004-2015</h5>
                                    <span class="item-company">218 saylı tam orta məktəb</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Tam orta təhsil</h4>
                                    <p>11 illik tam orta təhsil</p>
                                </div>
                            </div>

                        </div>

                        <div class="white-space-50"></div>
                        <!--Tehsil son-->
                        <!--Tecrube baslangic-->
                        <div class="block-title">
                            <h3>Təcrübə</h3>
                        </div>

                        <div class="timeline timeline-second-style clearfix">

                            <div class="timeline-item clearfix">
                                <div class="left-part">
                                    <h5 class="item-period">2022 - Current</h5>
                                    <span class="item-company">U&R Company Group</span>
                                </div>
                                <div class="divider"></div>
                                <div class="right-part">
                                    <h4 class="item-title">Junior backend developer</h4>
                                    <p></p>
                                </div>
                            </div>

                        </div>
                        <!--Tecrube son-->

                    </div>

                    <!-- Skills & Certificates -->
                    <div class="col-xs-12 col-sm-5">
                        <!-- Design Skills -->
                        <div class="block-title">
                            <h3>Bacarıqlar</h3>
                        </div>

                        <div class="skills-info skills-second-style">
                            <!-- Skill 1 -->
                            <div class="skill clearfix">
                                <h4>C#</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 1 -->
                            <!-- Skill 2 -->
                            <div class="skill clearfix">
                                <h4>Core API (Rest)</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 2 -->
                            <!-- Skill 3 -->
                            <div class="skill clearfix">
                                <h4>Core MVC</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 3 -->
                            <!-- Skill 4 -->
                            <div class="skill clearfix">
                                <h4>ORM (Entity framework)</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 4 -->
                            <!-- Skill 5 -->
                            <div class="skill clearfix">
                                <h4>Some usefull libraries</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 5 -->


                            <div class="white-space-50"></div>

                            <!-- Skill 6 -->
                            <div class="skill clearfix">
                                <h4>Microsoft Sql Server</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 6 -->
                            <!-- Skill 6 -->
                            <div class="skill clearfix">
                                <h4>MySql</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 6 -->
                            <!-- Skill 6 -->
                            <div class="skill clearfix">
                                <h4>PostgreSql</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 6 -->

                            <div class="white-space-50"></div>

                            <!-- Skill 7 -->
                            <div class="skill clearfix">
                                <h4>HTML5</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 7 -->
                            <!-- Skill 8 -->
                            <div class="skill clearfix">
                                <h4>CSS3/SCSS</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 8 -->
                            <!-- Skill 9 -->
                            <div class="skill clearfix">
                                <h4>Bootstrap</h4>
                            </div>
                            <div class="skill-container skill-7">
                                <div class="skill-percentage"></div>
                            </div>
                            <!-- End of Skill 9 -->


                        </div>
                        <!-- End of Design Skills -->

                        <div class="white-space-10"></div>


                    </div>
                    <!-- End of Skills & Certificates -->
                </div>


                <!-- Certificates -->
                <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="block-title">
                            <h3>Sertifikatlar</h3>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- Certificate 1 -->
                    <div class="col-xs-12 col-sm-6">
                        <div class="certificate-item clearfix">
                            <div class="certi-logo">
                                <a href="~/img/clients/client-1.jpeg" target="_blank">
                                    <img src="~/img/clients/client-1.jpeg" alt="logo">
                                </a>
                            </div>

                            <div class="certi-content">
                                <div class="certi-title">
                                    <h4>Fullstack development</h4>
                                </div>
                                <div class="certi-id">
                                    <span></span>
                                </div>
                                <div class="certi-date">
                                    <span>17 Fevral 2022</span>
                                </div>
                                <div class="certi-company">
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Certificate 1 -->

                </div>
                <!-- End of Certificates -->
            </div>
        </section>

    </div>
</div>