
<div class="content-area single-page-area" >

    <div class="single-page-content">

        <article class="post">

            <div class="post-thumbnail">
                <img src="~/img/portfolio/alloggio/alloggio.jpg" alt="image">
            </div>

            <div class="post-content" style="border-top: 1px solid gray">
                <!-- /Entry header -->
                <header class="entry-header">
                    <!-- Entry meta -->
                    <div class="entry-meta entry-meta-top">
                        <span><a href="#" rel="category tag">I</a></span>
                    </div>
                    <!-- /Entry meta -->

                    <h2 class="entry-title">Alloggio - Otel reservasiyası</h2>
                </header>
                <!-- /Entry header -->
                <!-- Entry content -->
                <div class="entry-content">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12">
                            <div class="col-inner">
                                <p>
                                    Backend developer olaraq rol aldığım bu proqram, şirkətlərin öz işçilərinin məlumatlarını ortaq məkanda vizuallaşdırmaq və idarə etmək
                                    üçün nəzərdə tutulmuşdur. 1c ilə inteqrasiyası ilə hər iki tərəf bir-biri ilə uyğun şəkildə məlumat mübadiləsi edir. Bunun nəticəsi olaraq məlumat
                                    daim güncəl olaraq qalır.
                                </p>

                                <blockquote class="quote">
                                    <span>Proqramın qısa izahı</span>


                                    <p></p>
                                    <p>1) .Net core api infrastrukturu</p>
                                                            @*   <footer class="quote-author">
                                        <span>Larry L. Johnson</span>
                                        </footer>*@
                                </blockquote>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Entry content -->

            </div>


            <div class="slider-container">

                <div class="mySlides">
                    <img src="~/img/portfolio/alloggio/main.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="~/img/portfolio/alloggio/account.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="~/img/portfolio/alloggio/request_acceptor.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="~/img/portfolio/alloggio/create_request.jpg" style="width:100%">
                </div>

                <div class="mySlides">
                    <img src="~/img/portfolio/alloggio/manager.jpg" style="width:100%">
                </div>

           @*     <div class="mySlides">
                    <img src="~/img/portfolio/cabinet/cabinet.jpg" style="width:100%">
                </div>*@
         





                <div class="row">

                    <div class="column">
                        <img class="demo cursor" src="~/img/portfolio/alloggio/main.jpg" style="width:100%" onclick="currentSlide(1)" alt="The Woods  1">
                    </div>

                    <div class="column">
                        <img class="demo cursor" src="~/img/portfolio/alloggio/account.jpg" style="width:100%" onclick="currentSlide(2)" alt="Cinque Terre  1">
                    </div>

                    <div class="column">
                        <img class="demo cursor" src="~/img/portfolio/alloggio/request_acceptor.jpg" style="width:100%" onclick="currentSlide(3)" alt="The Woods 2">
                    </div>

                    <div class="column">
                        <img class="demo cursor" src="~/img/portfolio/alloggio/create_request.jpg" style="width:100%" onclick="currentSlide(4)" alt="Cinque Terre 2">
                    </div>

                    <div class="column">
                        <img class="demo cursor" src="~/img/portfolio/alloggio/manager.jpg" style="width:100%" onclick="currentSlide(5)" alt="The Woods 2">
                    </div>

                 @*   <div class="column">
                        <img class="demo cursor" src="~/img/portfolio/cabinet/cabinet.jpg" style="width:100%" onclick="currentSlide(6)" alt="Cinque Terre 2">
                    </div>*@

                </div>


               @* <div class="caption-container">
                <p id="caption"></p>*@

            </div>


        </article>

    </div>
</div>

