
<div class="content-area single-page-area">
    <div class="single-page-content">

        <article class="post">

            <div class="post-thumbnail">
                <img src="~/img/portfolio/cabinet.jpg" alt="image">
            </div>

            <div class="post-content" style="border-top: 1px solid gray">
                <!-- /Entry header -->
                <header class="entry-header">
                    <!-- Entry meta -->
                    <div class="entry-meta entry-meta-top">
                        <span><a href="#" rel="category tag">II</a></span>
                    </div>
                    <!-- /Entry meta -->

                    <h2 class="entry-title">Şəxsi kabinet</h2>
                </header>
                <!-- /Entry header -->
                <!-- Entry content -->
                <div class="entry-content">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 ">
                            <div class="col-inner">
                                <p>
                                    Backend developer olaraq rol aldığım bu proqram, şirkətlərin öz işçilərinin məlumatlarını ortaq məkanda vizuallaşdırmaq və idarə etmək
                                    üçün nəzərdə tutulmuşdur. 1c ilə inteqrasiyası ilə hər iki tərəf bir-biri ilə uyğun şəkildə məlumat mübadiləsi edir. Bunun nəticəsi olaraq məlumat
                                    daim güncəl olaraq qalır.
                                </p>

                                <blockquote class="quote">
                                    <span>Proqramın qısa izahı</span>


                                    <p></p>
                                    <p>1) .Net core api infrastrukturu</p>
                                    <p>2) Json web token ilə kimlik doğrulama </p>
                                    <p>3) Çoxdillilik</p>
                                    <p>4) Giriş üçün iki müxtəlif yol  (fin/password vəya active directory username/password)</p>
                                    <p>5) Görülmüş işlərin excel-ə çıxarılması</p>
                                    <p>6) İşçiyə aid ümumi informasiya</p>
                                    <p>7) İşçinin aylıq məvacibi (gəlir/tutulma)</p>
                                    <p>8) İşçinin tapşırıqlarının gündəlik qeydiyyata alınması</p>
                                    <p>9) İşçinin məzuniyyətləri, aylıq davamiyyəti</p>
                                    <p>10) Məzuniyyət, ezamiyyət və icazə kimi bir sıra sorğuların yaradılması işçi tərəfindən yaradılması</p>
                                    <p>11) Yaradılması sorğunun şirkət hiyerarxiyasına uyğun şəkildə təsdiqlənməsi</p>
                                    <p>12) Sorğu nəticəsinin işçiyə və onun idarə heyətinə email vasitəsilə bildirilməsi<p>
                                    <p>13) Cari gündə ad günü olan şəxslərə (cc-də digər əməkdaşlar) təbrik email-nin göndərilməsi.<p>
                                                    @*   <footer class="quote-author">
                                        <span>Larry L. Johnson</span>
                                        </footer>*@
                                </blockquote>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Entry content -->

            </div>
        </article>

    </div>
</div>

